.index {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .frame-wrapper {
  height: 3255px;
  width: 1440px;
}

.index .frame-5 {
  width: unset !important;
}

.index .frame-instance {
  width: 1440px !important;
}

.index .frame-5-instance {
  background-color: transparent !important;
}
