.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  box-shadow: 0px 18px 31px #000000f7;
  height: 100px;
  position: relative;
  width: 1440px;
}

.navbar .text-wrapper {
  color: #000000;
  font-family: "Sora", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  width: 191px;
}

.navbar .div {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  justify-content: center;
  left: 640px;
  position: absolute;
  top: 31px;
}

.navbar .text-wrapper-2 {
  color: #000000;
  font-family: "Sora", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.navbar .text-wrapper-3 {
  color: #000000b2;
  font-family: "Sora", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.navbar .text-wrapper-4 {
  color: #000000b2;
  font-family: "Sora", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
