
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-74q {
  box-sizing: border-box;
  padding: 10.048rem 11.8rem 7.105rem 17.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.about-74q .code-typing-amico-1-d3B {
  margin-right: 3.95rem;
  width: 44.5rem;
  height: 44.4465rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.about-74q .code-typing-amico-1-d3B .freepik-floor-inject-26-Yvq {
  width: 44.5rem;
  height: 25.692rem;
  position: absolute;
  left: 0;
  top: 18.7545rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-shadows-inject-26-g1T {
  width: 32.7243rem;
  height: 15.9618rem;
  position: absolute;
  left: 4.345rem;
  top: 24.8935rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-plant-inject-26-CVb {
  width: 7.582rem;
  height: 10.56rem;
  position: absolute;
  left: 3.081rem;
  top: 22.5585rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-pictures-inject-26-8PF {
  width: 5.969rem;
  height: 13.749rem;
  position: absolute;
  left: 5.608rem;
  top: 1.3985rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-character-inject-26-4Xo {
  width: 23.95rem;
  height: 32.9583rem;
  position: absolute;
  left: 11.25rem;
  top: 7.3999rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w {
  width: 16.9357rem;
  height: 19.2517rem;
  position: absolute;
  left: 24.9033rem;
  top: 0;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-fnV {
  width: 13.744rem;
  height: 19.2195rem;
  position: absolute;
  left: 3.1917rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-Qk5 {
  width: 13.744rem;
  height: 19.2195rem;
  position: absolute;
  left: 3.1917rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-xFo {
  width: 13.448rem;
  height: 18.96rem;
  position: absolute;
  left: 3.0607rem;
  top: 0.2917rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-gxV {
  width: 13.448rem;
  height: 18.96rem;
  position: absolute;
  left: 3.0607rem;
  top: 0.2917rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-poo {
  width: 13.447rem;
  height: 8.6998rem;
  position: absolute;
  left: 3.0607rem;
  top: 0.2917rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-9LH {
  width: 13.447rem;
  height: 18.96rem;
  position: absolute;
  left: 3.0617rem;
  top: 0.2915rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-Gvh {
  width: 4.9488rem;
  height: 2.9469rem;
  position: absolute;
  left: 3.9941rem;
  top: 2.8117rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-1tH {
  width: 3.7263rem;
  height: 2.2413rem;
  position: absolute;
  left: 11.8835rem;
  top: 7.3663rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-kay {
  width: 1.6486rem;
  height: 1.0413rem;
  position: absolute;
  left: 9.6873rem;
  top: 6.1003rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-tSH {
  width: 4.9441rem;
  height: 2.9438rem;
  position: absolute;
  left: 3.9941rem;
  top: 9.4487rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-cNH {
  width: 3.722rem;
  height: 2.2382rem;
  position: absolute;
  left: 11.8835rem;
  top: 14.0033rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-LZB {
  width: 1.6442rem;
  height: 1.0382rem;
  position: absolute;
  left: 9.6873rem;
  top: 12.7373rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-GBw {
  width: 4.9553rem;
  height: 2.9473rem;
  position: absolute;
  left: 3.9875rem;
  top: 11.0043rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-z7w {
  width: 2.2346rem;
  height: 1.3792rem;
  position: absolute;
  left: 11.8773rem;
  top: 15.5603rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-Wry {
  width: 1.6423rem;
  height: 1.0373rem;
  position: absolute;
  left: 9.6935rem;
  top: 14.3013rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-3c1 {
  width: 2.5699rem;
  height: 1.5712rem;
  position: absolute;
  left: 4.0053rem;
  top: 3.6454rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-abw {
  width: 3.7326rem;
  height: 2.2443rem;
  position: absolute;
  left: 9.6873rem;
  top: 6.9253rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-KJd {
  width: 1.6377rem;
  height: 1.0352rem;
  position: absolute;
  left: 7.3335rem;
  top: 5.5643rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-qnm {
  width: 4.9349rem;
  height: 2.9409rem;
  position: absolute;
  left: 4.0033rem;
  top: 4.4647rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-P3b {
  width: 1.1532rem;
  height: 0.7552rem;
  position: absolute;
  left: 11.8773rem;
  top: 9.0123rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-uGq {
  width: 1.1513rem;
  height: 0.7543rem;
  position: absolute;
  left: 5.8935rem;
  top: 6.3833rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-F5o {
  width: 1.6423rem;
  height: 1.0373rem;
  position: absolute;
  left: 9.6935rem;
  top: 7.7533rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-ads {
  width: 1.7327rem;
  height: 1.0882rem;
  position: absolute;
  left: 3.9941rem;
  top: 5.2857rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-iVB {
  width: 1.6486rem;
  height: 1.0413rem;
  position: absolute;
  left: 7.3273rem;
  top: 7.2103rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-fQR {
  width: 4.9441rem;
  height: 2.9438rem;
  position: absolute;
  left: 3.9941rem;
  top: 6.1707rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-c4m {
  width: 3.722rem;
  height: 2.2363rem;
  position: absolute;
  left: 11.8835rem;
  top: 10.7273rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-YUD {
  width: 1.6443rem;
  height: 1.0382rem;
  position: absolute;
  left: 9.6873rem;
  top: 9.4593rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-gKX {
  width: 2.5923rem;
  height: 1.5863rem;
  position: absolute;
  left: 3.9875rem;
  top: 6.9913rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-pRj {
  width: 3.7263rem;
  height: 2.2413rem;
  position: absolute;
  left: 9.6935rem;
  top: 10.2873rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-MwT {
  width: 1.6439rem;
  height: 1.0392rem;
  position: absolute;
  left: 7.3273rem;
  top: 8.9193rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-6u3 {
  width: 4.9488rem;
  height: 2.9469rem;
  position: absolute;
  left: 3.9941rem;
  top: 7.8197rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-3ZP {
  width: 1.1576rem;
  height: 0.7573rem;
  position: absolute;
  left: 11.8773rem;
  top: 12.3713rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-nms {
  width: 1.1513rem;
  height: 0.7543rem;
  position: absolute;
  left: 5.8935rem;
  top: 9.7423rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-XjT {
  width: 1.6453rem;
  height: 1.0393rem;
  position: absolute;
  left: 9.6935rem;
  top: 11.1123rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-sHX {
  width: 1.7366rem;
  height: 1.092rem;
  position: absolute;
  left: 3.9862rem;
  top: 8.6375rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-DMP {
  width: 1.6423rem;
  height: 1.0383rem;
  position: absolute;
  left: 7.3335rem;
  top: 10.5723rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-ks7 {
  width: 1.1615rem;
  height: 0.7586rem;
  position: absolute;
  left: 5.8893rem;
  top: 11.3193rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-hGZ {
  width: 1.7353rem;
  height: 1.0913rem;
  position: absolute;
  left: 3.9875rem;
  top: 10.2213rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-EXP {
  width: 1.6377rem;
  height: 1.0352rem;
  position: absolute;
  left: 7.3335rem;
  top: 12.1533rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-yjs {
  width: 0.225rem;
  height: 4.173rem;
  position: absolute;
  left: 4.8067rem;
  top: 3.8935rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-86y {
  width: 4.952rem;
  height: 2.889rem;
  position: absolute;
  left: 0.0467rem;
  top: 1.1075rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-fMo {
  width: 4.8473rem;
  height: 6.8358rem;
  position: absolute;
  left: 0.019rem;
  top: 1.2062rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .item--QqB {
  width: 1.1rem;
  height: 3.2rem;
  position: absolute;
  left: 3.088rem;
  top: 3.4584rem;
  font-size: 2.5844rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-WNR {
  width: 4.8774rem;
  height: 6.883rem;
  position: absolute;
  left: 0;
  top: 1.1895rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-3dF {
  width: 0.342rem;
  height: 0.4448rem;
  position: absolute;
  left: 3.9507rem;
  top: 0.9921rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-mp9 {
  width: 0.343rem;
  height: 0.4457rem;
  position: absolute;
  left: 4.5857rem;
  top: 1.3837rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .code-typing-amico-1-d3B .freepik-screen-inject-26-b1w .vector-JZB {
  width: 0.342rem;
  height: 0.4448rem;
  position: absolute;
  left: 5.2217rem;
  top: 1.7771rem;
  object-fit: contain;
  vertical-align: top;
}
.about-74q .group-6-2k5 {
  margin-top: 6.4565rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-74q .group-6-2k5 .about-me-NJ9 {
  margin: 0rem 0rem 3.7rem 2.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.26;
  color: #000000;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-74q .group-6-2k5 .hello-my-name-is-basil-sabu-i-am-currently-pursuing-a-bachelors-degree-in-computer-science-from-the-prestigious-college-of-engineering-trivandrum-i-have-a-keen-interest-in-the-field-of-ui-ux-design-and-flutter-development-in-addition-to-my-technical-skills-i-possess-strong-communication-and-management-abilities-i-believe-effective-communication-is-essential-for-a-successful-collaboration-with-team-members-stakeholders-and-clients-moreover-my-management-skills-enable-me-to-organize-and-prioritize-tasks-effectively-ensuring-efficient-project-execution-and-timely-delivery-4wf {
  max-width: 66.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.26;
  color: #455a64;
  font-family: Sora, 'Source Sans Pro';
  flex-shrink: 0;
}
